certifi==2025.11.12 ; python_version >= "3.12" and python_version < "3.15"
charset-normalizer==3.4.4 ; python_version >= "3.12" and python_version < "3.15"
clickhouse-connect==0.10.0 ; python_version >= "3.12" and python_version < "3.15"
idna==3.11 ; python_version >= "3.12" and python_version < "3.15"
lz4==4.4.5 ; python_version >= "3.12" and python_version < "3.15"
numpy==2.4.0 ; python_version >= "3.12" and python_version < "3.15"
pandas==2.3.3 ; python_version >= "3.12" and python_version < "3.15"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "3.15"
pytz==2025.2 ; python_version >= "3.12" and python_version < "3.15"
requests==2.32.5 ; python_version >= "3.12" and python_version < "3.15"
six==1.17.0 ; python_version >= "3.12" and python_version < "3.15"
tzdata==2025.3 ; python_version >= "3.12" and python_version < "3.15"
urllib3==2.6.2 ; python_version >= "3.12" and python_version < "3.15"
zstandard==0.25.0 ; python_version >= "3.12" and python_version < "3.15"
